{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <div class="lang-logo">
            <img src="/static/lang-logo.png">
        </div>
        <h1>Stock Trading Platform</h1>
        {% if user.is_authenticated %}
            {% if user.userprofile.is_trader %}
                <p>Welcome Trader {{ user.username|capfirst }}!</p>
                <a href="{% url 'trader' %}" class="btn btn-lg btn-primary">Go to Trader Dashboard</a>
            {% else %}
                <p>Welcome Reader {{ user.username|capfirst }}!</p>
                <a href="{% url 'reader' %}" class="btn btn-lg btn-primary">View Stock Trades</a>
            {% endif %}
        {% else %}
            <p>Welcome to our Stock Trading Platform</p>
            <p>Please login to access the full features</p>
            <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a>
        {% endif %}
    </div>
</div>
{% endblock %}
