{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Stock Trades</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Ticker</th>
                <th>Price</th>
                <th>Type</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td>{{ trade.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td>{{ trade.ticker }}</td>
                <td>${{ trade.price }}</td>
                <td>
                    <span class="badge {% if trade.trade_type == 'BUY' %}text-bg-success{% else %}text-bg-danger{% endif %}">
                        {{ trade.trade_type }}
                    </span>
                </td>
                <td>{{ trade.publisher.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 